doctype html
html
  head
    include ../public/links.pug
  body
    section.sub-header
      include ../public/nav.pug
      .bodytext
        h1 احنا مين؟ 
    section.about
      div
        h2 احنا فريق متعدد الخدمات
        p
          | هنا هنكتب ديسكربشن صغير عن الفريق
      div
    
        img(src='../images/about.jpg')
    section.course
      h1 لجان الفريق
      p وَلْيَكُنْ كُلُّ شَيْءٍ بِلِيَاقَةٍ وَبِحَسَبِ تَرْتِيبٍ. (1 كو 14: 40).
      .row
        .course-row
          h3 لجنة التنظيم
          p تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة 
        .course-row
          h3 لجنة الأعلام
          p تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة 
        .course-row
          h3 لجنة الصيانة
          p تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة  تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة 
        .course-row
          h3 لجنة التعليم
          p تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة 
        .course-row
          h3 لجنة المساعدة
          p تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة ** تفاصيل الخدمة 
  
    include ../public/footer.pug
    // ----js add--
    script(src='../script.js')