section.end
      h3 احنا مين؟
      p
        | فريق الانبا كاراس خدماته متنوعة في كل المجالات

      .links
        a(href='https://www.facebook.com/Anba.Karas.Team.eg' target='_blank')
          i.fab.fa-facebook
        a
          i.fab.fa-whatsapp