nav.navmobile
          ul
            li
              a(href='/')
                i.fas.fa-home
            li
              a(href='/aboutus')
                i.fas.fa-trophy            
            li
              a(href='/signin')
                i.fas.fa-user-circle
            li
              a(href='/signin')
                i.fas.fa-list